/* font */
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,400;1,100;1,200&display=swap');

:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #1abc9c;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #1abc9c;
    --bs-secondary: #2c3e50;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}


html {
    scroll-behavior: smooth;
}


/* scroll snap */
.parent-container {
    /* overflow: scroll; */
    height: 100vh;
    /* scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory; */
}

/* section { */
    /* height: 100vh;
    scroll-snap-align: start;
    position: relative;
} */

/* hide scrollbar chrome, safari, opera*/
/* html::-webkit-scrollbar {
    display: none;
} */

/* hide scrollbar internet explorer, edge, firefox */
/* html {
    -ms-overflow-style: none;
    scrollbar-width: none;
} */


body {
    background-image: url(assets/background-image-ridges.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* splash page with animation */
.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #2c3e50;
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.logo-header img {
    animation: rotate 0.6s ease-in-out both;
    animation-delay: 0.7s;
    width: 130%;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-45deg);
  }
}

@media (max-width: 992px) {
    .logo-header img {
        width: 100%;
    }
}

#mainNav {
    animation: slide-in 1.3s both;
    animation-delay: 1.5s;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: 700;
    background-color: #2c3e50;
}

@keyframes slide-in {
    0% {
        transform: translateY(-1000px);
    }
    100% {
        transform: translateY(0);
    }
}

#mainNav .navbar-brand {
    color: #fff;
}
#mainNav .navbar-nav {
    margin-top: 1rem;
}
#mainNav .navbar-nav li.nav-item a.nav-link {
    color: #fff;
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
    color: #1abc9c;
}
#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
    color: #fff;
}
#mainNav .navbar-nav li.nav-item a.nav-link.active {
    color: #1abc9c;
}
#mainNav .navbar-toggler {
    font-size: 80%;
    padding: 0.8rem;
    color: #1abc9c;

}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        transition: padding-top 0.3s, padding-bottom 0.3s;
  }
    #mainNav .navbar-brand {
        font-size: 1.75em;
        transition: font-size 0.3s;
  }
    #mainNav .navbar-nav {
        margin-top: 0;
  }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
        color: #fff;
        background: #1abc9c;
  }
    #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
        color: #fff;
        background: #1abc9c;
  }
    #mainNav.navbar-shrink {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
  }
    #mainNav.navbar-shrink .navbar-brand {
        font-size: 1.5em;
  }
}

.brand-logo {
    width: 33%;
    height: auto;
}

.brand-text {
    display: inline;
    position: fixed;
    color: #fff;
    margin-left: 1rem;
    margin-top: 0.7rem;
}

.page-section {
    padding: 7rem 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
}

.card {
    /* justify-content: center;
    align-items: center; */
    font-size: 1.2rem;
}

@media (max-width: 992px) {
    #about {
        margin-top: 10rem;
        margin-bottom: 50rem;
    }

    #projects {
        margin-bottom: 50rem;
    }
    
    .card {
        padding: 1rem;
        margin: 1rem;
    }
}

@media (max-width: 768px) {
    #about {
        margin-top: 10rem;
    }
}


/* About Section */

.img-profile {
    max-width: 400px;
    max-height: 460px;
}

.btn-social {
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.btn-resume {
    width: 8rem;
}

.btn-social:hover {
    background-color: #1abc9c;
}


/* Projects Section */

.projects-card {
    padding: 2rem 0.5rem;
}

.project-img {
    max-width: 300px;
    max-height: 230px;
}

.project .project-item {
  cursor: pointer;
  position: relative;
  display: block;
  max-width: 25rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.project-item {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #2c3e50;
  border-radius: 0;
}

.project-item:hover {
  cursor: pointer;
}

.project-item:hover .overlay {
  opacity: 1;
}

.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.carousel .carousel-control-prev-icon {
    background-image: url(assets/projects/arrow-left-square-fill.svg);
    margin-left: -150px;
}

.carousel .carousel-control-next-icon {
    background-image: url(assets/projects/arrow-right-square-fill.svg);
    margin-right: -150px;
}

.carousel-control-prev-icon .carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    border: 1px solid;
    border-color: #fff;
}

/* Contact Section */

.contact-card {
    padding: 2rem 0;
}

.footer {
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: #2c3e50;
    color: #fff;
}

.copyright {
    background-color: #1a252f;
}